In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
df= pd.read_csv(r'C:\Users\mrdee\Downloads\RF datasets.csv')

In [18]:
df

,age,salary,experience_years,education_level,department,city_tier,work_hours_per_week,performance_score,promotion_last_5years,target_left_company
0,56,136748.0,33,PhD,IT,Tier-3,47,3.800000,0,1
1,46,25287.0,28,High School,Finance,Tier-2,40,2.400000,1,1
2,32,146593.0,3,PhD,HR,Tier-1,45,2.970316,0,0
3,60,54387.0,16,High School,IT,Tier-3,47,2.600000,0,0
4,25,28512.0,34,Bachelor,Finance,Tier-2,64,1.900000,0,1
...,...,...,...,...,...,...,...,...,...,...
995,22,49241.0,23,Master,IT,Tier-1,35,1.700000,1,1
996,40,84772.0,35,Master,Operations,Tier-2,51,4.500000,1,1
997,27,64569.0,5,Master,IT,Tier-2,30,3.900000,1,1
998,61,31745.0,30,Master,IT,Tier-1,33,2.000000,0,1
999,19,46029.0,19,PhD,Finance,Tier-2,58,1.300000,0,0

ML project pipeline
- import required libraries
- load the dataset
- Data Preprocessing
- EDA
- Features Eng
- Train and test spliting
- train model
- predict model
- model evaluation
- save model

In [19]:
df.isna().sum()

age                      0
salary                   0
experience_years         0
education_level          0
department               0
city_tier                0
work_hours_per_week      0
performance_score        0
promotion_last_5years    0
target_left_company      0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   age                    1000 non-null   int64
 1   salary                 1000 non-null   float64
 2   experience_years       1000 non-null   int64
 3   education_level        1000 non-null   object
 4   department             1000 non-null   object
 5   city_tier              1000 non-null   object
 6   work_hours_per_week    1000 non-null   int64
 7   performance_score      1000 non-null   float64
 8   promotion_last_5years  1000 non-null   int64
 9   target_left_company    1000 non-null   int64
dtypes: float64(2), int64(5), object(3)
memory usage: 78.3+ KB

In [21]:
df.describe()

,age,salary,experience_years,work_hours_per_week,performance_score,promotion_last_5years,target_left_company
count,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,40.986000,85084.980000,19.34500,49.554000,2.970316,0.511000,0.497000
std,13.497852,37146.053131,11.45492,11.255833,1.128795,0.500129,0.500241
min,18.000000,20060.000000,0.00000,30.000000,1.000000,0.000000,0.000000
25%,29.000000,53704.250000,10.00000,40.000000,2.000000,0.000000,0.000000
50%,42.000000,84772.000000,19.00000,49.000000,2.970316,1.000000,0.000000
75%,52.000000,116535.500000,29.00000,59.000000,3.900000,1.000000,1.000000
max,64.000000,149972.000000,39.00000,69.000000,5.000000,1.000000,1.000000

In [22]:
df['department'].value_counts()

department
IT            225
Finance       201
Operations    199
HR            190
Marketing     185
Name: count, dtype: int64

In [23]:
df['city_tier'].value_counts

<bound method IndexOpsMixin.value_counts of 0      Tier-3
1      Tier-2
2      Tier-1
3      Tier-3
4      Tier-2
        ...
995    Tier-1
996    Tier-2
997    Tier-2
998    Tier-1
999    Tier-2
Name: city_tier, Length: 1000, dtype: object>

In [24]:
df['education_level'].value_counts()

education_level
High School    299
PhD            244
Master         232
Bachelor       225
Name: count, dtype: int64

In [25]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse_output=False, drop='first')
categorical_cols = ['city_tier','department','education_level']

ohe_df = pd.DataFrame(ohe.fit_transform(df[categorical_cols]),columns=ohe.get_feature_names_out(categorical_cols))

df = pd.concat([df.drop(columns=categorical_cols),ohe_df],axis=1)
df.head()

,age,salary,experience_years,work_hours_per_week,performance_score,promotion_last_5years,target_left_company,city_tier_Tier-2,city_tier_Tier-3,department_HR,department_IT,department_Marketing,department_Operations,education_level_High School,education_level_Master,education_level_PhD
0,56,136748.0,33,47,3.800000,0,1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,46,25287.0,28,40,2.400000,1,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,32,146593.0,3,45,2.970316,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,60,54387.0,16,47,2.600000,0,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,25,28512.0,34,64,1.900000,0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
x=df[::-1]
x

,age,salary,experience_years,work_hours_per_week,performance_score,promotion_last_5years,target_left_company,city_tier_Tier-2,city_tier_Tier-3,department_HR,department_IT,department_Marketing,department_Operations,education_level_High School,education_level_Master,education_level_PhD
999,19,46029.0,19,58,1.300000,0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
998,61,31745.0,30,33,2.000000,0,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
997,27,64569.0,5,30,3.900000,1,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
996,40,84772.0,35,51,4.500000,1,1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
995,22,49241.0,23,35,1.700000,1,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,25,28512.0,34,64,1.900000,0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,60,54387.0,16,47,2.600000,0,0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,32,146593.0,3,45,2.970316,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1,46,25287.0,28,40,2.400000,1,1,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
0,56,136748.0,33,47,3.800000,0,1,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [27]:
y=df['target_left_company']

In [28]:
x.astype(int)

,age,salary,experience_years,work_hours_per_week,performance_score,promotion_last_5years,target_left_company,city_tier_Tier-2,city_tier_Tier-3,department_HR,department_IT,department_Marketing,department_Operations,education_level_High School,education_level_Master,education_level_PhD
999,19,46029,19,58,1,0,0,1,0,0,0,0,0,0,0,1
998,61,31745,30,33,2,0,1,0,0,0,1,0,0,0,1,0
997,27,64569,5,30,3,1,1,1,0,0,1,0,0,0,1,0
996,40,84772,35,51,4,1,1,1,0,0,0,0,1,0,1,0
995,22,49241,23,35,1,1,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,25,28512,34,64,1,0,1,1,0,0,0,0,0,0,0,0
3,60,54387,16,47,2,0,0,0,1,0,1,0,0,1,0,0
2,32,146593,3,45,2,0,0,0,0,1,0,0,0,0,0,1
1,46,25287,28,40,2,1,1,1,0,0,0,0,0,1,0,0
0,56,136748,33,47,3,0,1,0,1,0,1,0,0,0,0,1

In [30]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=42)

In [31]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100,random_state=42)
clf.fit(xtrain,ytrain)

RandomForestClassifier(random_state=42)

In [35]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
ypred = clf.predict(xtest)
print(ypred)
print('accuracy score\n',accuracy_score(ytest,ypred))
print('confusion matrix\n',confusion_matrix(ytest,ypred))
print('classification_report\n',classification_report(ytest,ypred))

[0 0 1 1 0 1 0 0 1 1 1 0 0 0 1 0 1 1 1 1 1 0 1 0 0 0 0 1 1 1 0 1 0 1 1 1 1
 1 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 0 1 0 0 0 1 1 0 0 1 1 1 0 0 1 0 1 1 0 0 0
 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 1 1 0 1 1 1 0 1 0 0 1 1 0 0 1 0 1 0 0 0 1
 0 0 1 1 1 0 1 0 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0 1 0 0 1 0 0 1 1 0 0 1 1 0 0
 0 0 1 0 0 0 0 0 0 0 1 1 1 0 0 1 0 1 0 1 0 1 1 0 0 0 0 1 1 0 1 1 0 1 1 1 0
 1 0 0 0 0 1 1 0 0 1 1 0 1 1 0]
accuracy score
 0.435
confusion matrix
 [[45 45]
 [68 42]]
classification_report
               precision    recall  f1-score   support

           0       0.40      0.50      0.44        90
           1       0.48      0.38      0.43       110

    accuracy                           0.43       200
   macro avg       0.44      0.44      0.43       200
weighted avg       0.44      0.43      0.43       200

In [38]:
comparison_df = pd.DataFrame({'Actual':ytest,'predicted':ypred})
comparison_df.head()

     Actual  predicted
521       1          0
737       0          0
740       0          1
660       0          1
411       0          0